// 🔹 Variables globales
$font-main: Arial, Helvetica, sans-serif;
$sidebar-width: 12.5rem; // 200px
$content-width: 1fr;
$layout-rows: auto 1fr auto;
$full-height: 100vh;

// 🔹 Style
body {
  margin: 0;
  font-family: $font-main;
  display: grid;
  grid-template-rows: $layout-rows;
  grid-template-columns: $sidebar-width $content-width;
  height: $full-height;
}
